<div class="container">
    <div class="row">
        <div id="bannertop" class="bannertop clearfix" data-banner-location="top">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget-banner blockone">
                    <a href="{{lang 'home.bannertop_link1'}}">
                        <img class="img-responsive" src="{{lang 'home.bannertop_image1'}}" alt="Banner Image">
                    </a>
                </div>
                <div class="widget-banner blocktwo">
                    <a href="{{lang 'home.bannertop_link2'}}">
                        <img class="img-responsive" src="{{lang 'home.bannertop_image2'}}" alt="Banner Image">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget-banner blockthree">
                    <a href="{{lang 'home.bannertop_link3'}}"><img class="img-responsive" src="{{lang 'home.bannertop_image3'}}" alt="Banner Image"></a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget-banner blockfour">
                    <a href="{{lang 'home.bannertop_link4'}}"><img class="img-responsive" src="{{lang 'home.bannertop_image4'}}" alt="Banner Image"></a>
                </div>
                <div class="widget-banner blockfive">
                    <a href="{{lang 'home.bannertop_link5'}}"><img class="img-responsive" src="{{lang 'home.bannertop_image5'}}" alt="Banner Image"></a>
                </div>
            </div>
        </div>
    </div>
</div>