<div class="cms_block_header">
    <div id="testimonial" class="testimonial cms1_header hb-animate-element left-to-right">
        <h2>WHAT OUR CUSTOMER SAY</h2>
        <div class="cms_slider">
            <div id="testimonial-carousel" class="owl-carousel ProductList">
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="face1.png" src="{{image-1}}" /></a></div>
                        <div class="name_img">Ut teller Dolor</div>
                        <div class="city_img">Los Angeles</div>
                    </div>
                    <div class="right_part">
                        <div class="arrow_box">
                            <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="face2.png" src="{{image-2}}" alt="face2.png" width="114" height="113" /></a></div>
                        <div class="name_img">Ut teller Dolor</div>
                        <div class="city_img">Los Angeles</div>
                    </div>
                    <div class="right_part">
                        <div class="arrow_box">
                            <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="face3.png" src="{{image-3}}" alt="face3.png" width="114" height="113" /></a></div>

                        <div class="name_img">Ut teller Dolor</div>
                        <div class="city_img">Los Angeles</div>
                    </div>
                    <div class="right_part">
                        <div class="arrow_box">
                            <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="testimonial2" class="testimonial cms2_header hb-animate-element left-to-right">
        <h2>FROM THE BLOG</h2>
        <div class="cms_slider">
            <div id="testimonial-carousel2" class="owl-carousel ProductList">
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="img1.jpg" src="{{image-4}}" alt="img1.jpg" width="259" height="156" /></a></div>
                    </div>
                    <div class="right_part">
                        <div class="name_img"><a href="#">Ut tellus dolor, dapibus fauxwal olds books in musica dum</a></div>
                        <div class="date_comment">25 jan,2014</div>
                        <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>
                </div>
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="img2.jpg" src="{{image-5}}" alt="img2.jpg" width="259" height="156" /></a></div>
                    </div>
                    <div class="right_part">
                        <div class="name_img"><a href="#">Ut tellus dolor, dapibus fauxwal olds books in musica dum</a></div>
                        <div class="date_comment">25 jan,2014</div>
                        <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>
                </div>
                <div class="item">
                    <div class="left_part">
                        <div class="img"><a href="#"><img class="__mce_add_custom__" title="img3.jpg" src="{{image-6}}" alt="img3.jpg" width="259" height="156" /></a></div>
                    </div>
                    <div class="right_part">
                        <div class="name_img"><a href="#">Ut tellus dolor, dapibus fauxwal olds books in musica dum</a></div>
                        <div class="date_comment">25 jan,2014</div>
                        <div class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottomcms">
    <div class="shipment ship">
        <div class="image"><img class="__mce_add_custom__" title="shipping.png" src="{{image-1}}" alt="shipping.png" width="56" height="51" /></div>
        <div class="content">
            <h2>Free shipping</h2>
            <div class="data">Suffered alternation in some form</div>
        </div>
    </div>
    <div class="shipment ship1">
        <div class="item">
            <div class="image"><img class="__mce_add_custom__" title="cash.png" src="{{image-2}}" alt="cash.png" width="56" height="51" /></div>
            <div class="content">
                <h2>Cash On Delivery</h2>
                <div class="data">The internet trend to repeat predefined</div>
            </div>
        </div>
    </div>
    <div class="shipment ship2">
        <div class="item">
            <div class="image"><img class="__mce_add_custom__" title="return.png" src="{{image-3}}" alt="return.png" width="56" height="51" /></div>
            <div class="content">
                <h2>30 Days Return</h2>
                <div class="data">Making it look like readable</div>
            </div>
        </div>
    </div>
</div>